.container, .backdrop, textarea {
    width: 100%;
    height: 100%;
}

.highlights, textarea {
    font-size: 24px;
    line-height: 1.4;
}

.container {
    background: transparent;
    position: relative;
    display: block;
}

.backdrop {
    position: absolute;
    z-index: 1;
    overflow: auto;
    pointer-events: none;
    transition: transform 1s;
}

.highlights {
    white-space: pre-wrap;
    word-wrap: break-word;
    color: transparent;
}

textarea {
    position: absolute;
    z-index: 2;
    flex-grow: 1;
    border: none;
    overflow: auto;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    font-size: 24px;
    line-height: 1.4;
    resize: none;
    margin: 0;
    border-radius: 0;
}

mark {
    border-radius: 3px;
    color: transparent;
    background: #fbb822;
}

.backdrop {
    overflow: auto;
}
